body {
  min-height: 100vh;
  font-size: 14px;
  line-height: 24px;
  color: $default;
  @extend %opensanslight-300;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  @extend %title;
}
