$accent: #fcbb08;
$default: #373a39;
$title: #242121;
$bg: #f6f8fa;

%title {
  font-size: 60px;
  line-height: 75px;
  color: $title;
  @extend %Montserrat-700;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 4px;
    background-color: $accent;
  }
}

%Raleway-700 {
  font-family: "Raleway-Bold", sans-serif;
  font-weight: 700;
}

%Montserrat-700 {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}

%Montserrat-500 {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
}

%opensanslight-300 {
  font-family: "opensanslight", sans-serif;
  font-weight: 300;
}
%opensanslight-400 {
  font-family: "opensansregular", sans-serif;
  font-weight: 400;
}
